html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    flex: 1;
    background: red;
    min-height: 3.5rem;
}

#main {
    display: flex;
    height: 100%;
}

.sidebar {
    flex: 1;
    background-color: blue;
    padding-top: 1em;
}

.content {
    flex: 3;
    background-color: indianred;
    padding-top: 1em;
}

.container {
    padding: 0 .15em
;
}
