body {
    background-color: aliceblue;
}

/*padrao*/

.container {
    width: 250px;
    height: 250px;
}

.itens {
/*    width: 100%;*/
    border: 1px solid red;
}


/*flex*/
.flex {
    display: flex;
    /*flex-direction: column;*/
    /*justify-content: space-around;*/
    /*flex-wrap: wrap;*/
    /*align-items: flex-end;*/
    /*align-content: space-between;*/
}

.fx {
    flex: 0;
}

.as {
    align-self: flex-start;
}
